<div class="container">

  <div class="recipe-top">
    <Img class="image" src={{recipe?.img}}>
    <h1 class="title">{{recipe?.name}}</h1>
    <p>*- opis przepisu -*</p>
  </div>

  <div class="buttons">
      <button mat-icon-button color="accent" title="Add to favorites!">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
  </div>

  <div class="tags">
    <p>Tagi:</p>
    <mat-chip-list>
      <div *ngFor="let tag of recipe?.tags">
          <mat-chip>{{tag}}</mat-chip>
      </div>
    </mat-chip-list>
    <br>
    <mat-divider></mat-divider>
  </div>

  <br>
  <div class="content container">

  <div class="ingredients">
    <p class="ingredients-title">SKŁADNIKI</p>
    <div *ngFor="let elem of recipe?.elements">
        <p class="elem-of-ingr">{{elem.stepName}}</p>
        <div *ngFor="let ingr of elem?.ingredients">
            <ul>
                <li>{{ingr}}</li>
                <mat-divider></mat-divider>
              </ul>
        </div>
    </div>
    
    
  </div>

  <div class="steps">
    <div *ngFor="let step of recipe?.steps, let i=index">
        <h2>Krok {{i+1}}:</h2>
        <p>{{step}}</p>
    </div>
  </div>
</div>
</div>