<div class="container">

  <div class="recipe-top">
    <Img class="image" src="https://www.kwestiasmaku.com/sites/kwestiasmaku.com/files/racuchy_drozdzowe_z_jablkami_00_0.jpg">
    <h1 class="title">{{title}}</h1>
    <p>Prosty przepis na pyszne racuchy z jabłkami!</p>
  </div>

  <div class="buttons">
      <button mat-icon-button color="accent" title="Add to favorites!">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
  </div>

  <div class="tags">
    <p>Tagi:</p>
    <mat-chip-list>
      <mat-chip>marchew</mat-chip>
      <mat-chip>jabłka</mat-chip>
    </mat-chip-list>
    <br>
    <mat-divider></mat-divider>
  </div>

  <br>
  <div class="content container">

  <div class="ingredients">
    <p class="ingredients-title">SKŁADNIKI</p>
    <ul>
      <li>Marchewka</li>
      <mat-divider></mat-divider>
      <li>Marchewka</li>
      <mat-divider></mat-divider>
      <li>Marchewka</li>
      <mat-divider></mat-divider>
      <li>Marchewka</li>
      <mat-divider></mat-divider>
    </ul>
  </div>

  <div class="steps">
    <h2>Krok pierwszy:</h2>
    <p>Pokrój marchewke w małe plastry</p>

    <h2>Krok:</h2>
    <p>dlaksjdlkashdkajsdskhjh</p>

    <h2>Krok:</h2>
    <p>Pokrój marchewke w małe plastry</p>

    <h2>Krok:</h2>
    <p>dlaksjdlkashdkajsdskhjh</p>

  </div>
</div>
</div>