.container {
    display: flex;
    flex-direction: column;
}
.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.filters {
    display: flex;
    height: 300px;
    border-width: 2px;
    border-style: solid;
}