<div class="container">
  <div class="content">

    <div class="sidebar">

      <Img class="profilePic" src="../../assets/images/profile_pic.jpg">
      <mat-divider></mat-divider>
      <a routerLink="/profile/stefan" class="change-prof-picture">Zmień zdjęcie profilowe</a>

      <p class="username">{{userId}}</p>

      <div class="profile-info">
        <p>Istnieje od: {{data}}</p>
        <p>Ulubione przepisy: {{favAmount}}</p>
      </div>
      
      
    </div>

    <div class="main-content">
      
      <h1>Twój profil:</h1>
      <mat-divider></mat-divider>
      <div class="left">
          <p>Edytuj informacje o sobie:</p>
          <p>Nick: stefan</p>
          
      </div>
      <mat-divider></mat-divider>
      
    </div>
    

  </div>
</div>

